In [10]:
def func_name(pos_arg1, pos_arg2, kwarg1=True, kwarg_2=49):
    #function body
    if pos_arg1 < pos_arg2:
        print('MAX', pos_arg2)
    return kwarg1

In [11]:
result = func_name(34, 45)
print(result)

MAX 45
True

In [20]:
def maximum(num1, num2):
    if isinstance(num1, int) and isinstance(num2, int):
        if num1 > num2:
            return num1
        return num2
    print('Sorry, enter integers')
    return None

In [13]:
maximum(3, 67)

67

In [14]:
maximum(99, 0)

99

In [15]:
maximum({6, 7, 8}, {54, 67, 1})

{1, 54, 67}

In [18]:
dir(['{1, 2}',])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [21]:
maximum(45, '88')

Sorry, enter integers

In [30]:
def example(symbol):
    result = None
    if symbol == 1:
        result = 'ONE'
    elif symbol == 2:
        result = 'TWO'
    sum_result = 5 + 6
    return result, sum_result

In [ ]:
a, b = (1, 2)

In [33]:
result1, result2 = example(56)
result2

11

In [26]:
result = example(2)
type(result)

list

In [27]:
result[0]

'TWO'

In [29]:
result[1]

11

In [36]:
def example(symbol):
    result = None
    if symbol == 1:
        result = 'ONE'
    elif symbol == 2:
        result = 'TWO'
    sum_result = 5 + 6
    return result, sum_result

result = 1000
print(result)
result = example(result)[0]
print(result)

1000
None

In [37]:
my_list = []
def ex2(my_list):
    my_list.append(3)
    return my_list

In [38]:
print(my_list)

[]

In [39]:
ex2(my_list)

[3]

In [40]:
my_list

[3]

In [43]:
def ex2(my_list):
    print('Hi from function', id(my_list))  # my_list = []
    my_list.append(3)  # my_list = [3]
    return my_list  # [3]

my_list_1 = []
print(id(my_list_1))
ex2(my_list_1)
print(id(my_list_1))

139447151579648
Hi from function 139447151579648
139447151579648

In [42]:
my_list_1

[3]

In [44]:
def insert_n(num):
    list_result = []
    for i in range(num):
        num_to_append = i
        if i % 2 == 0:
            num_to_append = i**2
        elif i % 3 == 0:
            num_to_append = i**3
        list_result.append(num_to_append)
    return list_result

In [45]:
returned_list = insert_n(10)
print(returned_list)

[0, 1, 4, 27, 16, 5, 36, 7, 64, 729]